.section-SignIn{
    width: 100%;
    height: calc(100vh - 180px);
    background-color: #12002b;
}
input{
    cursor: pointer;
}
.container-SignIn{
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 2rem;
    position: absolute;
    top: 6rem;
    left: 43%;
}
.container-title-SignIn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.icon-SignIn{
   font-size: 30px;
   margin-bottom: -10px;
}
.title-SignIn{
    font-size: 1.5em;
}
.label-SignIn{
    font-weight: bold;
    text-align: left;
}
.input-SignIn{
    padding: 5px;
    margin-bottom: 10px;
}
.container-submit-SignIn{
    display: flex;
    flex-direction: column;
}
.label-remenber-SignIn{
    margin-left: 0.25rem; 
}

.btn-submit-SignIn{
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    text-decoration: underline;
}
.error-message {
    color: red;
    font-size: 0.6rem;
   margin-top: -20px;
    position: absolute;
  }
  .toggle-password-icon{
   position: absolute;
   top: 52.5%;
   right: 12.5%;
   font-size:17px;
  }
  .toggle-password-icon{
    cursor: pointer;
  }



  /* responsive */
@media (max-width: 768px) {
    .section-SignIn{
        width: 100%;
        height: calc(100vh - 0px);
        background-color: #12002b;
    }
    .container-SignIn{
        box-sizing: border-box;
        background-color: white;
        width: 300px;
        margin: 0 auto;
        padding: 1rem;
        position: absolute;
        top: 4.5rem;
        left: 10%;
        
    }

    .toggle-password-icon{
        position: absolute;
        top: 52.5%;
        right: 15%;
        font-size:17px;
       }
       .input-SignIn{
        padding: 5px;
        margin-bottom: 10px;
        padding-right: 10%;
    }
}