.section-SignIn{
    width: 100%;
    height: calc(100vh - 180px);
    background-color: #12002b;
    display: flex;
        justify-content: center;
        align-items: center;
}
input{
    cursor: pointer;
}

.container-SignIn{
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: -10%;
    max-height: 505px;
    overflow-y: auto;
    overflow-x: hidden;
}
.container-title-SignIn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.icon-SignIn{
   font-size: 30px;
   margin-bottom: -10px;
}
.title-SignIn{
    font-size: 1.5em;
}
.label-SignIn{
    font-weight: bold;
    text-align: left;
}
.input-SignIn{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
}
.container-submit-SignIn{
    display: flex;
    flex-direction: column;
}
.label-remenber-SignIn{
    margin-left: 0.25rem; 
}
.btn-submit-SignIn{
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    text-decoration: underline;
}
.error-signIn{
    color: red;
    font-size: 0.6rem;
    margin-top: -6%;
  }
  .input-password-container{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .toggle-password-icon{
    margin-left: -12%;
    margin-top: -8px;
   font-size:17px;
  }
  .toggle-password-icon{
    cursor: pointer;
  }

form{
    display: flex;
    flex-direction: column;
}

  /* responsive */
@media (max-width: 768px) {
    .section-SignIn {
        width: 100%;
        height:100vh;
        background-color: #12002b;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container-SignIn {
        box-sizing: border-box;
        background-color: white;
        width: 300px;
        padding: 1rem;
        margin: 0 auto;
        position: relative;
    }

}